openapi: 3.0.1
info:
  title: VoiceByAuribus API
  description: Professional Voice Conversion and Audio Processing API
  version: '1.0'
  contact:
    name: Auribus Support
    email: support@auribus.io
    url: https://auribus.io
servers:
  - url: https://api.auribus.io
    description: Production
  - url: https://staging-api.auribus.io
    description: Staging
security:
  - BearerAuth: []

paths:
  /api/v1/voices:
    get:
      tags:
        - Voices
      summary: List available voice models
      description: Retrieves all available voice models that can be used for voice conversions
      operationId: GetVoices
      responses:
        '200':
          description: Successfully retrieved voice models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceListResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token

  /api/v1/voices/{id}:
    get:
      tags:
        - Voices
      summary: Get voice model details
      description: Retrieves detailed information about a specific voice model
      operationId: GetVoiceById
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the voice model
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved voice model details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponse'
        '404':
          description: Voice model not found
        '401':
          description: Unauthorized

  /api/v1/audio-files:
    post:
      tags:
        - Audio Files
      summary: Initiate audio file upload
      description: Creates an upload request and returns a secure pre-signed URL for uploading your audio file directly to storage
      operationId: CreateAudioFile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAudioFileRequest'
      responses:
        '201':
          description: Upload URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioFileUploadResponse'
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized

    get:
      tags:
        - Audio Files
      summary: List your audio files
      description: Retrieves all audio files you have uploaded
      operationId: GetAudioFiles
      responses:
        '200':
          description: Successfully retrieved audio files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioFileListResponse'
        '401':
          description: Unauthorized

  /api/v1/audio-files/{id}:
    get:
      tags:
        - Audio Files
      summary: Get audio file details
      description: Retrieves detailed information about a specific audio file including its processing status
      operationId: GetAudioFileById
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the audio file
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved audio file details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioFileResponse'
        '404':
          description: Audio file not found
        '401':
          description: Unauthorized

  /api/v1/voice-conversions:
    post:
      tags:
        - Voice Conversions
      summary: Create voice conversion
      description: Creates a voice conversion job to transform your audio using a selected voice model with optional pitch shifting
      operationId: CreateVoiceConversion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVoiceConversionRequest'
      responses:
        '201':
          description: Voice conversion job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceConversionResponse'
        '400':
          description: Bad request - Invalid parameters or audio file not ready
        '401':
          description: Unauthorized

    get:
      tags:
        - Voice Conversions
      summary: List your voice conversions
      description: Retrieves all voice conversion jobs you have created
      operationId: GetVoiceConversions
      responses:
        '200':
          description: Successfully retrieved voice conversions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceConversionListResponse'
        '401':
          description: Unauthorized

  /api/v1/voice-conversions/{id}:
    get:
      tags:
        - Voice Conversions
      summary: Get voice conversion details
      description: Retrieves detailed information about a specific voice conversion job, including download URLs when completed
      operationId: GetVoiceConversionById
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the voice conversion
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved voice conversion details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceConversionResponse'
        '404':
          description: Voice conversion not found
        '401':
          description: Unauthorized

  /api/v1/webhook-subscriptions:
    post:
      tags:
        - Webhooks
      summary: Create webhook subscription
      description: Creates a webhook subscription to receive real-time notifications about your voice conversion jobs
      operationId: CreateWebhookSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookSubscriptionRequest'
      responses:
        '201':
          description: Webhook subscription created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionCreatedResponse'
        '400':
          description: Bad request - Invalid URL or parameters
        '401':
          description: Unauthorized

    get:
      tags:
        - Webhooks
      summary: List your webhook subscriptions
      description: Retrieves all your active webhook subscriptions
      operationId: GetWebhookSubscriptions
      responses:
        '200':
          description: Successfully retrieved webhook subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionListResponse'
        '401':
          description: Unauthorized

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the authentication server

  schemas:
    VoiceListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/VoiceDto'

    VoiceDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the voice model
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          description: Name of the voice model
          example: "Professional Female Voice"
        description:
          type: string
          nullable: true
          description: Description of the voice characteristics
          example: "Clear and professional female voice, ideal for narration and presentations"
        created_at:
          type: string
          format: date-time
          description: Date and time when the voice model was created
          example: "2025-01-15T10:30:00Z"

    VoiceResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/VoiceDto'

    AudioFileListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/AudioFileDto'

    AudioFileDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the audio file
          example: "660e8400-e29b-41d4-a716-446655440001"
        file_name:
          type: string
          description: Original filename
          example: "my-audio-file.wav"
        status:
          type: string
          enum: [pending, processing, ready, failed]
          description: Current processing status of the audio file
          example: "ready"
        created_at:
          type: string
          format: date-time
          description: Date and time when the file was uploaded
          example: "2025-01-15T10:35:00Z"

    AudioFileResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/AudioFileDto'

    CreateAudioFileRequest:
      type: object
      required:
        - file_name
        - content_type
      properties:
        file_name:
          type: string
          description: Original filename with extension (e.g., my-audio.wav)
          example: "my-audio.wav"
        content_type:
          type: string
          description: MIME type of the audio file
          example: "audio/wav"
          enum:
            - audio/wav
            - audio/mpeg
            - audio/mp3
            - audio/flac

    AudioFileUploadResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: Unique identifier of the created audio file record
              example: "660e8400-e29b-41d4-a716-446655440001"
            upload_url:
              type: string
              description: Pre-signed URL for uploading the file (valid for 15 minutes)
              example: "https://storage.auribus.io/upload/..."
            expires_at:
              type: string
              format: date-time
              description: Expiration time of the upload URL
              example: "2025-01-15T10:50:00Z"

    VoiceConversionListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/VoiceConversionDto'

    VoiceConversionDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the voice conversion job
          example: "770e8400-e29b-41d4-a716-446655440002"
        audio_file_id:
          type: string
          format: uuid
          description: ID of the source audio file
          example: "660e8400-e29b-41d4-a716-446655440001"
        voice_model_id:
          type: string
          format: uuid
          description: ID of the voice model used for conversion
          example: "550e8400-e29b-41d4-a716-446655440000"
        pitch_shift:
          type: string
          enum: [same_octave, lower_octave, higher_octave, third_down, third_up, fifth_down, fifth_up]
          description: Pitch shifting option applied to the conversion
          example: "same_octave"
        use_preview:
          type: boolean
          description: Whether this conversion uses preview (10-second sample) or full audio
          example: false
        status:
          type: string
          enum: [pending, processing, completed, failed]
          description: Current status of the conversion job
          example: "completed"
        output_url:
          type: string
          nullable: true
          description: Download URL for the converted audio (valid for 12 hours, only available when status is 'completed'). Contains full audio if use_preview is false, or 10-second preview if use_preview is true.
          example: "https://storage.auribus.io/output/..."
        created_at:
          type: string
          format: date-time
          description: Date and time when the conversion was created
          example: "2025-01-15T10:40:00Z"
        completed_at:
          type: string
          format: date-time
          nullable: true
          description: Date and time when the conversion was completed
          example: "2025-01-15T10:45:00Z"

    VoiceConversionResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/VoiceConversionDto'

    CreateVoiceConversionRequest:
      type: object
      required:
        - audio_file_id
        - voice_model_id
        - pitch_shift
      properties:
        audio_file_id:
          type: string
          format: uuid
          description: ID of the audio file to convert (must have status 'ready')
          example: "660e8400-e29b-41d4-a716-446655440001"
        voice_model_id:
          type: string
          format: uuid
          description: ID of the voice model to use for conversion
          example: "550e8400-e29b-41d4-a716-446655440000"
        pitch_shift:
          type: string
          enum: [same_octave, lower_octave, higher_octave, third_down, third_up, fifth_down, fifth_up]
          description: |
            Pitch shifting option for the conversion:
            - same_octave: No pitch change
            - lower_octave: Shift down one octave
            - higher_octave: Shift up one octave
            - third_down: Shift down by a musical third
            - third_up: Shift up by a musical third
            - fifth_down: Shift down by a musical fifth
            - fifth_up: Shift up by a musical fifth
          example: "same_octave"
        use_preview:
          type: boolean
          description: |
            Whether to convert the full audio file or just a 10-second preview sample.
            - false (default): Convert the full audio file
            - true: Convert only a 10-second preview for testing
          example: false
          default: false

    WebhookSubscriptionListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/WebhookSubscriptionDto'

    WebhookSubscriptionDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the webhook subscription
          example: "880e8400-e29b-41d4-a716-446655440003"
        url:
          type: string
          format: uri
          description: HTTPS URL that receives webhook notifications
          example: "https://your-app.com/webhooks/voice-conversions"
        events:
          type: array
          items:
            type: string
            enum: [conversion.completed, conversion.failed]
          description: List of events this subscription listens to
          example: ["conversion.completed", "conversion.failed"]
        is_active:
          type: boolean
          description: Whether the subscription is currently active (automatically disabled after 10 consecutive failures)
          example: true
        created_at:
          type: string
          format: date-time
          description: Date and time when the subscription was created
          example: "2025-01-15T09:00:00Z"

    WebhookSubscriptionCreatedResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
              example: "880e8400-e29b-41d4-a716-446655440003"
            url:
              type: string
              format: uri
              example: "https://your-app.com/webhooks/voice-conversions"
            events:
              type: array
              items:
                type: string
              example: ["conversion.completed", "conversion.failed"]
            is_active:
              type: boolean
              example: true
            secret:
              type: string
              description: Auto-generated webhook secret for HMAC-SHA256 signature verification (shown only once - save this securely)
              example: "whsec_a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6a7b8c9d0e1f2"
            created_at:
              type: string
              format: date-time
              example: "2025-01-15T09:00:00Z"

    CreateWebhookSubscriptionRequest:
      type: object
      required:
        - url
        - events
      properties:
        url:
          type: string
          format: uri
          description: HTTPS URL that will receive webhook notifications (must be publicly accessible and use HTTPS)
          example: "https://your-app.com/webhooks/voice-conversions"
        events:
          type: array
          items:
            type: string
            enum: [conversion.completed, conversion.failed]
          minItems: 1
          description: List of events to subscribe to
          example: ["conversion.completed", "conversion.failed"]

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          description: Human-readable error message
          example: "An error occurred while processing your request"

    ValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "Validation failed"
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                description: Name of the field that failed validation
                example: "file_name"
              message:
                type: string
                description: Validation error message
                example: "File name is required"
